# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Directory for uploading files
public/uploads/

# Build directories
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Miscellaneous
*.swp
*.swo
